<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Online Shopping for Men - Buy Men&#x27;s Clothing &amp; Accessories Online
      | Shoppers Stop
    </title>

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="https://www.shoppersstop.com/favicon-16x16.png"
      type="image/x-icon"
    />

    <!-- CSS link -->
    <link rel="stylesheet" href="/style.css" />

    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- navbar section -->
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary position-sticky top-0 z-1 shadow-sm"
    >
      <div class="container-fluid">
        <a class="navbar-brand" id="logo" href="/">Shoppers Stop</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/men">Men</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/women"
                >Women</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/kids"
                >Kids</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/watch"
                >Watches</a
              >
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2 login"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-primary login" type="submit">
              Login
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- card section -->
    <div class="container">
      <div class="mt-4 d-flex justify-content-evenly align-items-center">
        <div class="card cardItem" style="width: 18rem">
          <div id="images">
            <img
              src="https://sslimages.shoppersstop.com/B8AC9759D45547D9AEF177F0DE13B7C8/img/03AB1657C5054B4C8B596E3DD81778CC/205412527_9100_03AB1657C5054B4C8B596E3DD81778CC.jpg"
              class="card-img-top man-img"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Levis</h5>
            <p class="card-text">Mens Round Neck Graphic Print T-Shirt</p>
            <p>$350</p>
          </div>
        </div>
        <div class="card cardItem" style="width: 18rem">
          <div id="images">
            <img
              src="https://sslimages.shoppersstop.com/sys-master/images/h36/h5d/30980188143646/AW23LFVNTCFIN26_INDIGO.jpg_2000Wx3000H"
              class="card-img-top man-img"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Life</h5>
            <p class="card-text">
              Mid Wash Cotton Lycra Tapered Fit Mens Jeans
            </p>
            <p>$350</p>
          </div>
        </div>
        <div class="card cardItem" style="width: 18rem">
          <div id="images">
            <img
              src="https://sslimages.shoppersstop.com/sys-master/images/h43/heb/31010273001502/AW23LFSHTBR04_GREY.jpg_2000Wx3000H"
              class="card-img-top man-img"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Life</h5>
            <p class="card-text">Solid Cotton Lycra Relaxed Fit Mens Shorts</p>
            <p>$150</p>
          </div>
        </div>
      </div>
    </div>

    <!-- footer section -->
    <div class="container-fluid">
      <div class="mt-4">
        <div class="card">
          <div class="card-header">Shoppers Stop</div>
          <div class="card-body">
            <a href="/" class="card-title">www.shoppersstop.com</a>
            <p class="card-text text-center">&copy; All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
